@import 'variables.scss';
@import 'priceCard.scss';

* {
  box-sizing: border-box;
}

h1,
h2,
ul,
li {
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #141b1c;
  color: $text-color-white;
}

.page {
  height: 100vh;
  display: flex;
}
