$page-background-color: #141b1c;
$background-color-grey: #334247;
$background-color-dark-grey: #2a343880;

$background-color-green: #5bb189;
$background-color-blue: #3a6ba5;
$background-color-orange: #ec632a;
$background-color-red: #dc3f45;

$text-color-white: #fff;
